<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Weather App</a>
  </div>
</nav>
<body class="bg-info">
  <ng-container *ngIf="!weatherDataLoaded && !weather5DayForecastDataLoaded">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>
  <ng-container *ngIf="celiusOrFahrenheit === 'C'">
    <div class="alert alert-primary" role="alert" *ngIf="currentTemp < celciusLowerTempAlert">
      <strong>Wow!</strong> The temperature has dropped below {{ celciusLowerTempAlert }}˚{{ celiusOrFahrenheit }}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="currentTemp > celciusHigherTempAlert">
      <strong>Wow!</strong> The temperature has risen above {{ celciusHigherTempAlert }}˚{{ celiusOrFahrenheit }}
    </div>
  </ng-container>
  <ng-container *ngIf="celiusOrFahrenheit === 'F'">
    <div class="alert alert-primary" role="alert" *ngIf="currentTemp < fahrenheitLowerTempAlert">
      <strong>Wow!</strong> The temperature has dropped below {{ fahrenheitLowerTempAlert }}˚{{ celiusOrFahrenheit }}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="currentTemp > fahrenheitHigherTempAlert">
      <strong>Wow!</strong> The temperature has risen above {{ fahrenheitHigherTempAlert }}˚{{ celiusOrFahrenheit }}
    </div>
  </ng-container>
  <div class="alert alert-warning" role="alert" *ngIf="dataFailedToLoad">
    <strong>Data Refresh failed!</strong> Retrying in {{ retryAfterXMilliseconds / 1000 }} seconds, but if you would like to refresh now hit <a href="#" class="alert-link" (click)="refreshData()">retry now</a>.
  </div>
  <ng-container>
    <div class="d-flex justify-content-center align-items-center">
      <mat-card class="w-50">
        <mat-card-header *ngIf="weatherData">
          <mat-card-title>{{ roundToWholeNumber(weatherData.main.temp) }}˚{{ celiusOrFahrenheit }}</mat-card-title>
          <mat-card-subtitle>Location: {{ weatherData.name }}</mat-card-subtitle>
          <mat-card-subtitle>Max Temp: {{ roundToWholeNumber(weatherData.main.temp_max) }}˚{{ celiusOrFahrenheit }}</mat-card-subtitle>
          <mat-card-subtitle>Min Temp: {{ roundToWholeNumber(weatherData.main.temp_min) }}˚{{ celiusOrFahrenheit }}</mat-card-subtitle>
          <mat-card-subtitle>Humidity: {{ weatherData.main.humidity }}%</mat-card-subtitle>
          <mat-card-subtitle>Wind: {{ weatherData.wind.speed }} {{ speedText }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="ms-2">
        </mat-card-content>
        <mat-card-actions align="end">
          <mat-divider class="mb-2"></mat-divider>
          <button mat-button (click)="changeWeatherUnit()">{{ showCeliusFahrenheitText }}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
  <ng-container>
    <div class="mt-5"></div>
    <h2 class="ms-3">Weather Forecast</h2>
    <div class="mt-2">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="weather5DayForecastData">
      
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
      
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> Time </th>
          <td mat-cell *matCellDef="let element"> {{element.time}} </td>
        </ng-container>
      
        <ng-container matColumnDef="temperature">
          <th mat-header-cell *matHeaderCellDef> Temperature </th>
          <td mat-cell *matCellDef="let element"> {{roundToWholeNumber(element.temperature)}}˚{{ celiusOrFahrenheit }}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ng-container>
</body>
